In [1]:
!pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
     -------------------------------------- 246.5/246.5 kB 2.5 MB/s eta 0:00:00
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

In [2]:
import pandas as pd
from kafka import KafkaConsumer,KafkaProducer
from time import sleep
from json import dumps
import json

In [3]:
producer = KafkaProducer(bootstrap_servers = ['3.17.28.29:9092'],
                        value_serializer = lambda x: dumps(x).encode('utf-8'))

In [15]:
producer.send('demotest', value= "{'hello1':'rousik'}")

In [7]:
# let's read the data

df = pd.read_csv(r"C:\Users\Futurense\Desktop\Venkats note\Kafka\stock-market-kafka-data-engineering-project-main\indexProcessed.csv")

In [8]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [11]:
# to get the data in proper dictionary format , because we want out data to look like in json

df.sample(1).to_dict(orient="records")[0]

{'Index': 'SSMI',
 'Date': '2009-03-05',
 'Open': 4434.890137,
 'High': 4503.629883,
 'Low': 4390.180176,
 'Close': 4390.180176,
 'Adj Close': 4390.180176,
 'Volume': 93102300.0,
 'CloseUSD': 4873.09999536}

In [25]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demotest', value= dict_stock)
    sleep(1)

KeyboardInterrupt:

In [24]:
producer.flush()